<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Lab</title>
</head>
<body>
<ul
	id = "menu">
	{% if page_list %}
		{% for i in page_list %}
			<li>
                <a href="/home/page/{{ i.id }}/">{{i.header}}</a>
			</li>

		{% endfor %}
	{% else %}
		<p>
			No pages available
		</p>
	{% endif %}
</ul>
</body>
</html>