<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

{% load staticfiles %}
	 <link href="{% static "home/style.css" %}" rel="stylesheet">
    <title>{{ title }}</title>
</head>


<div
	id = "header">

	<h1
		align = "center">

		{{ page.header }}
	</h1>

	<ul
		id = "menu">

		{% for i in page_list %}
			<li>
				<a
					href = "{% url 'show_page' i.id %}">
					{{ i.header }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>

<div id = "content">

		<img
			id = "image"
			src = "{% static page.image.url %}"
			alt = "No image available"
			align = "right"
			height = 160px
		/>

	<div
		class = "text">

		{{ page.text|linebreaks }}

		<p
			class = "utility"
			align = right>

			{{ page.change_date }}
		</p>
	</div>
</div>

<div id = "footer">
	<p
		align = "center">
	</p>
</div>
</body>
</html>