body {
  color: #feb;
  background-color: #181818;
}

/*
  HEADER HERE
*/
#header {
}

#header h1 {
  font-family: georgia;
  margin: 0px;
  padding: 12px;
  
  border-color: #333;
  border-style: solid;
  border-width: 0px;
  border-top-width: 8px;
  border-bottom-width: 8px;
  
  margin-bottom: 12px;
}

/*
  MENU HERE
*/
#menu {
  background-color: #feb;
  margin: 0px;
  padding: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

#menu li {
  display: inline;
}

#menu a {
  font-size: medium;
  font-family: serif;
  padding: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
}

#menu a:hover {
  background-color: #ffd;
}

/*
  CONTENT HERE
*/
#content {
  padding: 42px;
}

#image {
  border-color: #222;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  border-right-width: 3px;
  
  margin-left: 40px;
  margin-right: 42px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.text {
  font-family: serif;
  background-color: #333;
  padding-top: 42px;
  padding-bottom: 60px;
  padding-left: 56px;
  padding-right: 40px;
}

.utility {
  margin-right: 200px;
  font-family: sans-serif;
  font-size: x-small;
}

.post_utility {
  margin-right: 25px;
  font-family: sans-serif;
  font-size: x-small;
}
/*
  POST THUMBNAIL HERE
*/

.post_thumbnail {
  margin: 24px;
  margin-left: 32px;
  margin-right: 50px;
  background-color: #333;
}

.post_thumbnail_title {
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  
  display: block;
  
  /*
  padding-left:48px;
  padding-top: 12px;
  padding-right: 60px;
  padding-bottom: 18px;
  */
  
  background-color: #feb;
  color: #333;
}

.post_thumbnail_title h3 {
  font-size: large; 
  padding: 15px;
  margin: 0px;
}

.post_thumbnail_title:hover {
  background-color: #ffd;
}

.post_thumbnail_title a {
  padding: 4px;
}

.post_thumbnail_title a:hover {
  background-color: #ffd;
}

.title {
  display: inline;
  float:left;
}

.userinfo {
  padding: 2px;
  padding-right: 4px;
}

.avatar {
  vertical-align: middle;
  border-style: solid;
  border-color: #555;
  border-width: 1px;
  border-bottom-width:  4px;
}

.post_thumbnail_text {
  font-size: normal;
  font-family: sans-serif;
  padding: 12px;
  padding-left: 42px;
  padding-right: 70px;
}

.post_utility {
  padding: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}

#pages {
  font-size: x-small;
  font-family: sans-serif;
  color: #333;
  background-color: #feb;
  padding: 4px;
  padding-left: 32px;
}

/*
  FOOTER HERE
*/

#footer{
  font-size: small;
  font-family: sans-serif;
  
  border-color: #333;
  border-style: solid;
  border-width: 0px;
  border-top-width: 4px;
  border-bottom-width: 4px;
  
  padding-top: 20px;
  padding-bottom: 16px;
}

#footer p {
  margin: 0px;
}